<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head"/>
<body>
<nav th:replace="fragments :: navigation"></nav>

<div class="container-fluid">
    <div class="row justify-content-center bg-light">
        <div class="col-12">
            <h4 class="display-4">Neuen Anwender erstellen</h4>

            <form id="formName" th:action="@{/users}" th:object="${newUser}"
                  method="post">

                <div class="form-group">
                    <input th:field="*{login}" class="form-control"
                           placeholder="Login" minlength="4" maxlength="20"/>
                    <small class="form-text text-muted">Logins müssen zwischen 4 und 20 Zeichen lang sein.</small>
                </div>

                <div class="form-group">
                    <input th:field="*{name}" class="form-control"
                           placeholder="Name" minlength="4" maxlength="20"/>
                    <small class="form-text text-muted">Bitte geben Sie den Namen an, der anderen angezeigt wird.</small>
                </div>

                <div class="form-group">
                    <input th:field="*{password}" class="form-control"
                           placeholder="Password" type="password" minlength="8" maxlength="20"/>
                    <small class="form-text text-muted">Passwörter müssen zwischen 8 und 20 Zeichen lang sein,
                        und dürfen keine Whitespaces enthalten.</small>
                </div>

                <button type="submit" class="btn btn-primary">Erstellen!</button>
                <a href="/users" class="btn btn-danger">Abbrechen</a>
            </form>
        </div>
    </div>
</div>

<th:block th:replace="fragments :: scripts"/>
</body>
</html>